@using System.Security.Claims
@using System.Threading.Tasks
@using Roombait.App
@model Roombait.Models.Residence
@{
    ViewData["Title"] = Model.Name;
}

<br/>

<div class="modal fade" id="newresidencemodal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">New Activity</h4>
            </div>

            <div class="modal-body">
                <input class="form-control" id="NewActivityName" name="NewActivityName" type="text" placeholder="Activity Name"/>
                <br />
                <div class="form-group">
                    <label for="chosenDays">Days to Perform</label>
                    <br />
                    <select id="chosenDays" name="chosenDays[]" multiple>
                        @foreach (string dayofweek in Enum.GetNames(typeof (DayOfWeek)))
                        {
                            <option value="@dayofweek">@dayofweek</option>
                        }
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success submitbtn activitycreate" type="button">Create</button>
                <button class="btn btn-danger submitbtn" data-dismiss="modal" type="button">Cancel</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<button type="button" id="newactivitybutton" data-toggle="modal" data-target="#newresidencemodal" class="btn btn-success pull-right">
    New Activity
</button>

<p class="text-success">@ViewData["StatusMessage"]</p>
<h2 class="residencename">@ViewData["Title"] Activities</h2>
@foreach (ApplicationUser resident in Model.Residents)
{
    <span class="label residentname @(resident.Id == User.GetUserId() ? "label-success" : "label-primary")">
        @resident.Name
        @if (resident.Id == Model.Owner.Id)
        {
            <span class="glyphicon glyphicon-star small" aria-hidden="true" title="Owner of Residence"></span>
        }
    </span>
}
<br/><br/>
<div class="list-group">
    @if (Model.Activites == null || Model.Activites.Count == 0)
            {
        <h3>
            <p class="text-center">No Activities</p>
        </h3>
    }
    @foreach (Activity activity in Model.Activites)
    {
        <a href="/Activity/@activity.ActivityID/@Util.GetSlug(activity.Name)" class="list-group-item activitybox" data-activity="@activity.ActivityID">

            <div class="pull-right">
                <button data-activity="@activity.ActivityID" type="button" class="btn btn-success performactivity">Perform</button>
                <button data-activity="@activity.ActivityID" type="button" class="btn btn-danger deleteactivity">Delete</button>
            </div>

            <h4 class="list-group-item-heading">@activity.Name</h4>

            <p class="list-group-item-text">
                @foreach (var dayStatus in activity.PerformanceStatus(DateTime.Now))
                {
                    string spanClass = "label-default";

                    switch (dayStatus.Value)
                    {
                        case ActivityState.Completed:
                            spanClass = "label-success";
                            break;
                        case ActivityState.NotScheduled:
                            spanClass = "label-default";
                            break;
                        case ActivityState.PastDue:
                            spanClass = "label-danger";
                            break;
                        case ActivityState.Upcoming:
                            spanClass = "label-primary";
                            break;
                    }

                    <span title="@(dayStatus.Value.ToString())" class="label @(spanClass)">@dayStatus.Key.ToString()</span>
                }
            </p>
        </a>
    }
</div>

@section styles
{
    <link href="~/lib/bootstrap-multiselect/dist/css/bootstrap-multiselect.css" rel="stylesheet" />
}

@section scripts
{
    <script src="~/lib/bootstrap-multiselect/dist/js/bootstrap-multiselect.js"></script>
    <script>
        var residenceId = @Model.ResidenceID;
        $('#chosenDays').multiselect();
    </script>
}